<!-- Wrapper -->
  <div id="wrapper">

    <!-- Intro -->
      <section class="intro">
        <header>
        <h1>Bienvenidos</h1>
        <h2 class="text-center">somos Autana Muebles</h2>
          <p>Una empresa familiar, con más de 10 años de experiencia en el rubro <a href="https://www.instagram.com/autanamuebles/?hl=es">@autanamuebles</a> Puedes visitar nuestras redes sociales, apreciar la calidad de nuestros trabajos y <a href="https://api.whatsapp.com/send?phone=56948446060&text=Hola%20Autana%20Muebles..!!%20Soy">contactarnos!</a></p>
          <ul class="actions">
            <li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
          </ul>
        </header>
        <div class="content">
          <%= image_tag("cocina.jpg", class: "img-responsive") %>
        </div>
      </section>
  <!-- Section -->
      
    <!-- Section -->
      <section id="first">
        <header>
          <h2>Trabajos realizados</h2>
        </header>
        <div class="content">
          <p><strong>Fabricación de muebles en melamina, veladores, escritorios, repisas, libreros, comodas, closets, roperos, cocinas, muebles a medida, diseños de internet o del cliente.</strong> <span> Diseñamos al gusto del cliente, considerando: el mejor aprovechamiento de los espacios, colores y calidad de los materiales... puedes ver más en la sección <a href='/trabajos'>trabajos</a></span>.</p>
          <%= image_tag("ropero.jpg", class: "img-responsive") %>
        </div>
      </section>
<br>
    <!-- Section -->
      <section>
        <header>
          <h2>Muebles en melamina</h2>
        </header>
        <div class="content">
          <p><strong>Especialistas en el trabajo con melamina</strong> Realizamos diseño 3d para que nuestros clientes puedan visualizar los resultados antes de decidir si contratan el proyecto.</p>
          <ul class="feature-icons">
            <li class="icon solid fa-laptop">Asesoramos</li>
            <li class="icon solid fa-bolt">Cumplimos con los lapsos establecidos</li>
            <li class="icon solid fa-signal">Empleamos materials de alta calidad para garantizarle durabilidad</li>
            <li class="icon solid fa-cog">Diseñamos al gusto del cliente</li>
          </ul>
      
          </section>

       

    <!-- contactanos -->
      <section id='contactanos'>
        <header>
          <h2>Contactanos</h2>
        </header>
        <div class="content">
          <p><strong>Contactanos</strong> Siempre atentos para asesorarte de la mejor manera, no importa el tamaño de tu proyecto.</p>
            <ul class="actions">
                <li><a href="https://api.whatsapp.com/send?phone=56948446060&text=Hola%20Autana%20Muebles..!!%20Soy" class="button large">Whatsapp</a></li>  
                <li><a href="https://www.instagram.com/autanamuebles/?hl=es" class="button large">Instagram</a></li>
                <li><a href="https://m.facebook.com/people/Autana-Muebles/100065640423234/" class="button large">Facebook</a></li>   
            </ul>
        </div>
        <footer>
          <ul class="items">
            <li>
              <h3>Email</h3>
              <a href="#">autanamuebles@gmail.com</a>
            </li>
            <li>
              <h3>Phone</h3>
              <a href="#">(+56) 9484-46060</a>
            </li>
              <ul class="icons">
                <li><a href="https://api.whatsapp.com/send?phone=56948446060&text=Hola%20Autana%20Muebles..!!%20Soy" class="icon brands fa-whatssap"><span class="label">Whatsapp</span></a></li>
                <li><a href="https://m.facebook.com/people/Autana-Muebles/100065640423234/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/autanamuebles/?hl=es" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
              </ul>
            </li>
          </ul>
        </footer>
      </section>

    <!-- Copyright -->
      <div class="copyright">&copy; Autana Muebles. Todos los derechos reservados.</div>

  </div>

<!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>
</html>
