<div id="<%= dom_id trabajo %>">
  <div>
    <strong>Image</strong>
    <%= link_to image_tag(trabajo) %>
  </div>
  <p>
    <strong>Titulo:</strong>
    <%= trabajo.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= trabajo.contenido %>
  </p>

</div>
