<div id="<%= dom_id trabajo %>">
  <div>
    <strong>Image</strong>
    <% if trabajo.image.attached? %>
      <%= image_tag(trabajo.image, style: 'width: 200px;')  %>
    <% end %>
  

  </div>
  <p>
    <strong>Titulo:</strong>
    <%= trabajo.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= trabajo.contenido %>
  </p>

</div>
